<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Splendor game</title>
</head>
<body>
    <h1>Bienvenu sur splendor game</h1>
    <form action="/splendor/getGame" method="post">
        {% csrf_token %}
        <label for="number_of_players">Nombre de joueurs</label>
        <select name="nombres_de_joueurs" id="number_of_players">
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <input type="submit">
    </form>
</body>
</html>